# Linters and formating
autoflake
black
flake8
isort
pydocstyle
# Types
validator-collection
mypy
# Test
pytest
# git
pre-commit
# services
gunicorn
flask
flask_cors
# Streaming
kafka-python
# Metricts
prometheus_client