################################Linters and formating
autoflake
black
flake8
isort
pydocstyle
################################git
pre-commit
################################services
gunicorn
flask
validator-collection
################################test
pytest
################################Streaming
flask_cors
kafka-python
